<a
  href="{{ routes.root_url }}"
  class="back-home-btn w-button"
>
  {{- 'tnc0d2788' | t -}}
</a>

<style>
  .back-home-btn {
    color: {{ section.settings.text-color }};
    background-color: {{ section.settings.bg-color }};
    border-radius: 20px;
    padding: 10px 16px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
  }
</style>

{% schema %}
{
  "name": "Back Home Button",
  "tag": "div",
  "settings": [
   {
      "type": "color",
      "id": "bg-color",
      "label": "Background Color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "text-color",
      "label": "Text Color",
      "default": "#FFF"
    }
  ]
}
{% endschema %}
